
@{
    Layout = null;
    ViewBag.Title = "KIOS's Login";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <environment include="Development">
        <link href="~/css/bulma.min.css" rel="stylesheet" />
        <link href="~/css/font-awesome.min.css" rel="stylesheet" />
        <link href="~/css/buefy-0.6.2.min.css" rel="stylesheet" />
        <link href="~/css/materialdesignicons.min.css" rel="stylesheet" />
    </environment>
</head>
<body>
    <form action="/login" method="post"></form>
</body>
</html>
